<!doctype html>
<html>
<head>
    {{ partial "meta" . }}
</head>
<body>
	<div class="page">

		<header class="">
            {{ partial "header" . }}
		</header>
		
		<div class="masonry">
			<div class="masonry-height">
				<div class="masonry-content">
					<div class="row">
						<div class="column one-sixth">
							<div class="row">
								<div class="item" style="background-image:url(/img/logo.svg); background-size: contain; background-repeat: no-repeat;">

								</div>
							</div>
							<div class="row semi-semi-tall">
								<div class="item" style="background-image: url(/img/rando1.jpg);">
									
								</div>
							</div>
						</div>
						<div class="column one-sixth">
							<div class="item" style="background-image: url(/img/WebArt__Jolteon.png)">

							</div>
						</div>
						<div class="column one-third">
							<div class="item" style="background-image: url(/img/WebArt__Eevee.png)">

							</div>
						</div>
						<div class="column one-third">
							<div class="row">
								<div class="column one-whole">
									<div class="row semi-tall">
										<div class="column one-half">
											<div class="item" >
													
											</div>
										</div>
										<div class="column one-half">
											<div class="item" style="background-image: url(/img/WebArt__Raichu.png)">
													
											</div>
										</div>
									</div>
									<div class="row">
										<div class="column one-whole">
											<div class="item" style="background-image: url(img/logotext.png); background-size: contain; background-repeat: no-repeat;">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        
		<nav id="navigation">
			{{ partial "nav" . }}
		</nav>

		<div class="slides">
			{{ partial "slides" . }}
		</div>

		<div class="content-holder">
            {{ partial "content" . }}
        </div>
        
	</div>

	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>
	<script src="js/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="js/code.js"></script>

</body>
</html>